# 以下の内容を書き込んで保存します。2
#↓
[Unit]
Description=Palworld Dedicated Server
After=network-online.target

[Service]
Type=simple
LimitNOFILE=100000
User=<user-name>
Group=<user-name>

ExecStart=/home/<user-name>/script/start.sh
ExecStop=/bin/kill -s INT $MAINPID

Restart=on-failure
RestartSec=30
TimeoutSec=300

[Install]
WantedBy=multi-user.target
